# Dataset
chest_xray/
*.zip
 
# Model weights
models/*.h5
models/*.keras
 
# Python cache
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/
 
# Environment
venv/
.env
*.egg-info/
 
# VS Code
.vscode/
 
# Results (optional - remove if you want to push plots)
# results/kaggle.json
